# Documentació del Procés de Recol·lecció de Dades per al Projecte de ML per augmentar la subscripció de clients a dipòsits bancaris
---


## 1. Fonts
---


### Identificació de Fonts:
- Base de dades interna del banc obtingudes al realitzar les trucades


### Descripció de les Fonts:
Cada registre del dataset és una trucada realitzada a un possible nou client.Les columnes són:
- **age, job, marital, education:** Característiques demogràfiques dels clients.
- **balance, housing, loan:** Dades bancàries i productes contractats pels clients
- **contact, day of week, month, duration:** Detalls de les trucades telefòniques amb els clients.
- **campaign,pdays, previous, poutcome:** Dades relacionades amb campanyes anteriors i l'actual
- **deposit:** la variable que indica sí s'ha subscrit o no.


## 2. Mètodes de recol·lecció de dades
---

### Procediments i Eines:
Cada venedor recull en un fitxer xls cadascuna de les trucades realitzades. Una vegada finalitzada la tasca de trucades el departament d'IT els pot unir en un sol fitxer csv.

### Freqüència de Recol·lecció:
- Diàriament


### Scripts de Descàrrega:

In [26]:
import pandas as pd
df = pd.read_csv(r"C:\Users\franc\Downloads\bank+marketing\bank\bank.csv", sep=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

## 3. Format i Estructura de les Dades
---

### Tipus de Dades:
- **Numèrics**: Age, balance, day,duration, campaign, pdays, previous
- **Categòric**: job, marital, education, default,housing, loan, contact,month,poutcome, y

### Format d'Emmagatzematge:
- Dades emmagatzemades en fitxer CSV separats en aquest cas per ;

## 4. Limitacions de les dades
---
- Les dades es poden repetir al trucar al mateix client diferents venedors, ha d'existir certa coordinació.
- Poden haver errors al transcriure les dades per part del venedors.
  

## 5. Consideracions sobre Dades Sensibles
---

### Tipus de Dades Sensibles:
- **Informació Personal Identificable (PII)**: No hi han dades que puguin permetre la identificació del client.
- **Informació Financera Sensible**: balance, housing, loan
- **Dades Comportamentals Sensibles**: No hi han.

### Mesures de Protecció:
- **Anonimització i Pseudonimització**:
  - El dataset no conté dades que permetin reconèixer a l'usuari, potser ja han estat anonamitzades previament a la creació del dataset.
  
- **Accés Restringit**:
  - Podem restringir l'us del dataset només als desenvolupadors del projecte de ML: